In [0]:
#mounting Azure Data Lake Storage Account onto DBFS:
configs = {"fs.azure.account.auth.type": "OAuth",
"fs.azure.account.oauth.provider.type": "org.apache.hadoop.fs.azurebfs.oauth2.ClientCredsTokenProvider",
"fs.azure.account.oauth2.client.id": "c17f38ea-3086-4232-ae22-1abcc6e55816",
"fs.azure.account.oauth2.client.secret": "fYm8Q~LNSbsNg7.sC.A2ooHFp_xP_bfbTq_OAaSA",
"fs.azure.account.oauth2.client.endpoint": "https://login.microsoftonline.com/ab817701-0a9c-4e3f-b76c-7ab44709dbe2/oauth2/token"}

dbutils.fs.mount(
source = "abfss://tokyo-olympics-data@tokyoolympicdatans.dfs.core.windows.net", #storage_container@storage_account
mount_point = "/mnt/tokyoolympic",
extra_configs = configs)

In [0]:
%fs
ls "mnt/tokyoolympic"

In [0]:
spark

In [0]:
athletes = spark.read.format("csv").option("header", "true").load("/mnt/tokyoolympic/raw-data/athletes.csv") 
coaches = spark.read.format("csv").option("header", "true").load("/mnt/tokyoolympic/raw-data/coaches.csv") 
entries_gender = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympic/raw-data/entriesgender.csv") 
medals = spark.read.format("csv").option("header", "true").option("inferSchema", "true").load("/mnt/tokyoolympic/raw-data/medals.csv") 
teams = spark.read.format("csv").option("header", "true").load("/mnt/tokyoolympic/raw-data/teams.csv")

In [0]:
#Verifying dataframe properties
print(athletes)
print(coaches)
print(entries_gender)
print(medals)
print(teams)

In [0]:
print("Athletes dataframe:")
athletes.printSchema()

print("Coaches dataframe:")
coaches.printSchema()

print("EntriesGender dataframe:")
entries_gender.printSchema()

print("Medals dataframe:")
medals.printSchema()

print("Teams dataframe:")
teams.printSchema()

In [0]:
#Gathering and displaying information about each table.
print("Athletes")
athletes.show()

print("Coaches")
coaches.show()

print("Entries Gender")
entries_gender.show()

print("Medals")
medals.show()

print("Teams")
teams.show()

# Exploratory Data Analysis 
Writing various functions to gather insights on the datasets of Athletes, Genders, Teams and Medals.

In [0]:
# Gathering information on total number of athletes, number of disciplines, and number of teams in the Olympics.
print("Total number of athletes: " + str(athletes.count())) 
print("Total number of disciplines: " + str(athletes.select("Discipline").distinct().count()))
print("Total number of teams: " + str(teams.count()))

### Athletes Data

In [0]:
# Finding Canadian Athletes and their coaches that participated in Basketball events
basketball = athletes.join(coaches, athletes.Discipline == coaches.Discipline, "left") \
                    .filter(athletes.Discipline == "Basketball") \
                    .filter(athletes.Country == "Canada") \
                    .filter(coaches.Country == "Canada") \
                    .withColumnRenamed("PersonName","Athlete") \
                    .withColumnRenamed("Name","Coach").show(100)

In [0]:
# find popularity of Sport by country from Athletes data
sport_popularity = athletes.groupBy("Country","Discipline") \
                            .count() \
                            .orderBy(["count"], ascending=[False])
sport_popularity.show(500)

In [0]:

# Max number of Athletes from country
from pyspark.sql.functions import max, min

max_count_df = athletes.select("Country") \
    .groupBy("Country") \
    .count() \
    .agg(max("count").alias("max_count")).show()

min_count_df = athletes.select("Country") \
    .groupBy("Country") \
    .count() \
    .agg(min("count").alias("min_count")).show()

In [0]:
# Getting top 5 maximum values another method using Spark SQL
athletes_table = athletes.createOrReplaceTempView("athletes_table")
max_athletes = spark.sql("""SELECT Country, COUNT(*) AS count FROM athletes_table 
                GROUP BY Country 
                ORDER BY count DESC
                LIMIT 5
                """)
max_athletes.show()

# Getting bottom 5 minimum number of athletes using Spark SQL
min_athletes = spark.sql("""SELECT Country, COUNT(*) AS count FROM athletes_table 
                GROUP BY Country 
                ORDER BY count ASC
                LIMIT 5
                """)
min_athletes.show()

print("As you can see the max number of athletes were hailing from United States, while the minimum number of athletes were hailing from multiple countries such as Myanmar, Tuvalu, and Somalia among many others.")

As you can see the max number of athletes were hailing from United States, while the minimum number of athletes were hailing from multiple countries such as Myanmar, Tuvalu, and Somalia among many others.

### Gender Data

In [0]:
#Displaying Gender percentages from entries_gender data as 2 new columns
from pyspark.sql.functions import round

percentage_table = entries_gender.withColumn("Male Percentage", round(entries_gender["Male"]/entries_gender["Total"]*100,2)) \
                                 .withColumn("Female Percentage", round(entries_gender["Female"]/ entries_gender["Total"]*100,2))
percentage_table.show()

In [0]:
# Getting maximum and minimum participants from the array of Disciplines
from pyspark.sql.functions import max, min
# Maximum number of participants is in the Athletics division, with 1072 Male and 1068 Female athletes.
print("Maximum number of participants is in the Athletics division, with 1072 Male and 1068 Female athletes.")
entries_gender.select("Discipline","Male","Female","Total") \
              .orderBy("Total",ascending=False) \
              .limit(1).show()
# Minimum number of participants is in the Athletics division, with 1072 Male and 1068 Female athletes.
print("Minimum number of participants is in the Athletics division, with 9 Male and 10 Female athletes.")
entries_gender.select("Discipline","Male","Female","Total") \
              .orderBy("Total",ascending=True) \
              .limit(1).show()

#note more effective aggregation functions can be used, the above was for ease of display.

### Teams

In [0]:
# Identifying how many teams per Discipline each Country had
teams.groupBy("Country","Discipline").count().orderBy(["count"],ascending=[False]).show()

In [0]:
# Identifying most teams per Discipline.
teams.groupBy("Discipline").count() \
                           .withColumnRenamed("count","Team Count") \
                           .orderBy(["count"],ascending=[False]) \
                           .limit(1) \
                           .show()

# Identifying least teams per Discipline.
teams.groupBy("Discipline").count() \
                           .withColumnRenamed("count","Team Count") \
                           .orderBy(["count"],ascending=[True]) \
                           .limit(1) \
                           .show()

As shown, the most amount of teams was in the Aquatics Discipline with a total of 113 teams, while the least amount of teams was in the Baseball/Softball Discipline for a total of 12 teams. Popularity of disciplines can be extrapolated from this as a result, with Swimming being the most popular, and Baseball/softball being the least!

### Medals

In [0]:
medals.show()

In [0]:

# Finding percentage of Gold medals from total medals for each country
import pyspark.sql.functions as F

total_medals = medals.agg(F.sum("Total")).collect()[0][0]
print("Total medals handed out in the 2021 Tokyo Olympics =", total_medals)
print("-----------------------------------------------------------------")

print("Percentage of Gold Medals Won")
gold_percentage = medals.withColumn(
    "Gold Medals Won", 
    F.round(medals["Gold"] / total_medals * 100, 2)
)
display(gold_percentage)

print("Percentage of Silver Medals Won")
silver_percentage = medals.withColumn(
    "Silver Medals Won", 
    F.round(medals["Silver"] / total_medals * 100, 2)
)
display(silver_percentage)

print("Percentage of Bronze Medals Won")
bronze_percentage = medals.withColumn(
    "Bronze Medals Won", 
    F.round(medals["Bronze"] / total_medals * 100, 2)
)
display(bronze_percentage)

print("Percentage of Total Medals Won")
medal_percentage = medals.withColumn(
    "% Medals Won", 
    F.round(medals["Total"] / total_medals * 100, 2)
)
display(medal_percentage)

As displayed above, the percentage of Gold, Silver and Bronze medals can be seen, as well as the total medals won by each country as a percentage from the total medals handed out in the world cup. 

**The Top 3 Countries:**

United States of America took home 10.76% of all medals <br>
People's Republic of China took home 8.15% of all medals <br>
Japan took home 5.37% of all medals <br>

Writing Data to output location in Azure Data Lake Storage:

In [0]:
# Writing default raw data tables that were loaded.
athletes.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/athletes")
coaches.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/coaches")
entries_gender.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/entries_gender")
medals.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/medals")
teams.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/teams")

In [0]:
# Writing custom transformed tables that provided detailed, specific insights.
basketball.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/basketball")
sport_popularity.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/sport_popularity")
max_athletes.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/max_athletes")
min_athletes.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/min_athletes")
gold_percentage.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/gold_percentage")
silver_percentage.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/silver_percentage")
bronze_percentage.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/bronze_percentage")
medal_percentage.write.option("header","true").csv("dbfs:/mnt/tokyoolympic/transformed-data/medal_percentage")